@lost gutter 1.618rem;

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
	font-family: "Open Sans";
}

html {
	padding: 0;
}

body {
	padding: 1.618rem;
	background: #16a085;
}

.row {
	lost-center: 75rem;
}

.main, .sidebar {
	padding: 1.618rem;
	min-height: 500px;
}

.main {
	lost-column: 3/5;
	background: white;
	color: #232323;
}

.sidebar {
	lost-column: 2/5;
	background: #2c3e50;
	color: white;
}

.row {
	margin-bottom: 1.618rem;
}

.convert_this {
	width: 500px;
	font-size: 18px;
}

section {
	padding: 1rem;
	background: white;
}

/*
This is the h1 style

<h1>Heading 1</h1>

*/

h1 { font-size: 42px; }

/*
These use the .tile class

<div class="row">
	<div class="tile">This is a Tile</div>
	<div class="tile">This is a Tile</div>
	<div class="tile">This is a Tile</div>
	<div class="tile">This is a Tile</div>
	<div class="tile">This is a Tile</div>
</div>

*/

.tile {
	lost-column: 1/5;
	padding: 3.75rem 1.618rem;
	text-align: center;
	font-size: 1.25rem;
	color: white;
}

.tile:nth-of-type(1) {
	background: #f39c12;
}

.tile:nth-of-type(2) {
	background: #c0392b;
}

.tile:nth-of-type(3) {
	background: #8e44ad;
}

.tile:nth-of-type(4) {
	background: #2980b9;
}

.tile:nth-of-type(5) {
	background: #d35400;
}